html
html
   head
      title Registration
   body
      form(action = "/registerStudent", method = "POST")
         div
            label(for = "mobileNum") Mobile:
            input(name = "mobileNum" value = "")
            input(type='hidden' name='twilioOtp' value=twilioOtp)
         br
         div
            label(for = "firstName") FirstName:
            input(name = "firstName" value = "")
         br
         div
            label(for = "lastName") LastName:
            input(name = "lastName" value = "")
         br
         div
            label(for = "password") Password:
            input(name = "password" value = "")
         br
         div
            label(for = "otp") OTP:
            input(name = "otp" value = "")
         br
         button(type = "submit") Register