html
html
   head
      title Form Tester
   body
      form(action = "/signUp", method = "POST")
         div
            label(for = "mobileNumber") Mobile Number:
            input(name = "mobileNumber" value = "")
         br
         button(type = "submit") Generate OTP